.accordionQuesHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* border-bottom: 1px solid #fff; */
  cursor: pointer;
  border: 1px solid  rgba(255, 255, 255, 0.1);
  padding:  20px;
  border-radius: 10px;
}
.accordionQues{
  line-height: 1.8;

}
.accordionContainer ol{
  list-style: decimal;
  list-style-position: inside;
  padding: 10px;
}
.accordionContainer ul{
  list-style: disc;
  list-style-position: inside;
  padding: 10px;
}
.accordionQuesHeader img {
  cursor: pointer;
}
.accordionQuesContent {
  /* border-bottom: 1px solid #fff; */
  font-size: 16px;
}
.accordionQues:not(:first-of-type) {
}
.accordionQuesContent {
  overflow: hidden;
  max-height: 0;
  font-size: 16px;
  transition: max-height 1s;
}
.accordionQuesContent p {
  padding: 10px;
}
.accordionQuesContent.open {
  max-height: 2000px;
}
.accordionQuestions h2{
  text-align: start;
  font-size: 20px !important;
}

@media (max-width: 768px) {
  .accordionQuesContent p {
    font-size: 16px;
    text-align: center;
  }
  .accordionQuesHeader h3{
    font-size: 18px;
  }
}

.accordionContainer:not(:last-child){
margin-top: 20px;
border: 1px solid  rgba(255, 255, 255, 0.1);
border-radius: 10px;
}