.RequestLawyer h2 {
  text-align: center;
  padding-top: 40px;
}
.RequestLawyer{
}
.RequestLawyer .formPage {
  border-radius: 12px;
  width: 60%;
  margin: auto;
  border: 1px solid #ffffff28;

  padding: 64px 48px;
  background: linear-gradient(rgba(255, 255, 255,.03) 0%, rgba(216, 216, 216, .03));
  margin-top: 50px;

}
.RequestLawyer .names {
  display: flex;
  gap: 20px;
}
.RequestLawyer .inp {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  background: linear-gradient(rgba(255, 255, 255,.03) 0%, rgba(216, 216, 216, .03));
  border: 1px solid #fff;

}
.RequestLawyer .formPage textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  width: 100%;
  outline: none;
  border: none;
  height: 100px;
  color: #fff;
  font-size: 18px;

}

@media (max-width: 768px) {
  .RequestLawyer .formPage {
      width: 100%;
      padding: 20px;
    }
    .names{
      flex-direction: column;
      gap: 0 !important;
    }
  
}
.registerWay {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 12px;
  gap: 20px;
  background-color: #fff;
  color: #000;
  padding: 15px;
  width: 100%;
  cursor: pointer;
  margin-top: 30px;
}
.agreeToPrivacy{
display: flex;
justify-content: flex-start;
}
