.legalinstructions .boxs {
  display: flex;
  flex-direction: column;
  gap: 80px;
  padding-top: 50px;
}
.boxs .box:nth-child(2) .boxRight {
  width: 60rem;
}
.legalinstructions .box {
  display: flex;
  gap: 30px;
}
.legalinstructions h2 {
  text-align: center;
}
.line,
.lineM {
  position: relative;
  width: 15rem;
  height: 170px;
}
.line::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-left: 3px dashed rgba(128, 128, 128, 0.6);
  border-top: 3px dashed rgba(128, 128, 128, 0.6);
  border-radius: 25px 0 0 0;
}
.lineM::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-right: 3px dashed rgba(128, 128, 128, 0.6);
  border-top: 3px dashed rgba(128, 128, 128, 0.6);
  border-radius: 0 25px 0 0;
}
.legalinstructions .boxRight {
  width: 55rem;
  background: linear-gradient(#111931, #1a223f);
  padding: 10px;
  text-align: center;
  display: flex;
  align-items: center;
  height: 220px;
}

.legalinstructions .boxM {
  display: flex;
  justify-content: flex-end;
}

.legalinstructions .boxLeft {
  position: relative;
  transform: translateY(50%);
}
.legalinstructions .cirecleImg1 {
  position: absolute;
  right: -30px;
  top: -10px;
}
.legalinstructions .cirecleImg2M {
  position: absolute;
  bottom: 40px;
  right: -15px;
}
.legalinstructions .cirecleImg1M {
  position: absolute;
  left: -35px;
  top: -10px;
}
.legalinstructions .cirecleImg2 {
  position: absolute;
  bottom: 40px;
  left: -15px;
}

@media (max-width: 1191px) {
  .line,
  .lineM,
  .cirecleImg1,
  .cirecleImg1M,
  .cirecleImg2,
  .cirecleImg2M {
    display: none;
  }
  .legalinstructions .boxs {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 50px 0;
  }
  .legalinstructions .box {
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 0;
  }

  .legalinstructions .boxRight {
    width: 100% !important;
    padding: 30px;
    height: auto;
  }
}

@media (min-width: 1920px) {
  .legalinstructions .boxs .boxRight {
    width: 80rem;
  }

  .boxs .box:nth-child(2) .boxRight {
    width: 90rem;
  }
}
