.sideBar {
    width: 30%;
    padding: 80px;
    min-height: 100vh;
}
.sideBar ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.activeItem {
   border-right: 6px solid #fff;
   padding-right: 10px;
  }
.sideBar ul li {
    cursor: pointer;
}
@media (max-width: 1191px) {
    .sideBar {
        width: 40%;
        padding: 80px 20px;
    }
 
  
}
@media (max-width: 768px) {
    .sideBar{
        width: 100%;
        min-height: auto;
     }  
}