.jobOpportunities {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}
.jobOpportunities h2 {
  border-bottom: 1px solid #fff;
  width: fit-content;
  padding-bottom: 20px;
}
.jobOpportunities p {
  padding-top: 20px;
}

.jobOpportunities .left {
  width: 50%;
  display: flex;
  align-items: center;
}
.jobOpportunities .left .content {
  position: relative;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.swiperSlide {
  width: 355px !important   ;
  height: 282px !important;
}
.jobOpportunities .jobTitle {
  backdrop-filter: blur(12px);
  background-color: #dddddd33;
  text-align: center;
  padding: 15px;
  position: absolute;
  bottom: 10px;
  left: 0;
  right: 0;
  border-radius: 0 0 10px 10px;
  font-weight: bold;
}

.link{
  display: block;
  padding-top: 30px;
}
@media (max-width: 1400px) {
  .jobOpportunities {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
  }

  .jobOpportunities h2 {
    text-align: center;
    width: 100%;
    border: none;
  }
  .jobOpportunities .left {
    width: 80%;
  }
  .jobOpportunities .right {
    text-align: center;
  }
}

@media (max-width: 768px) {
  .jobOpportunities .right h2,
  .jobOpportunities .right p{
    width: 100%;
    text-align: right;
  }
  .jobOpportunities .right h2 {
    font-size: 30px;
    font-weight: 700;
    padding-bottom: 13px;
  }
  .jobOpportunities .right p {
    font-size: 14px;
    font-weight: 400;
    padding-top: 13px;
  }
  
  .jobOpportunities .left {
    width: 80%;
  }
  .jobOpportunities .jobTitle {
    bottom: 0;
  }
  .jobOpportunities .left .content {
    width: 100%;
    height: 100%;
  }
  .jobOpportunities img {
    width: 100%;
  }
  .swiperSlide{
    width: 100% !important;
  }
  .link{
    display: flex;
    justify-content: flex-start;
  }
}
