.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  border-bottom: 2px dashed rgba(255, 255, 255, 0.292);

}
.about .parent {
  display: flex;
  justify-content: space-between;
}
.about .parent div {
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}


.about .parent div p.child3{
  display: none;
}

/* @media (max-width : 1191px) {
  .about .parent {
      flex-direction: column;
      align-items: center;
      text-align: center;
    }
}

@media (min-width : 768px) and (max-width : 1191px) {
  .about img {
    display: none;
  }
} */

@media (max-width: 768px) {
  .about {
    padding: 32px 16px;

  }
  .about .parent {
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
  }
  .about .parent div {
    text-align: right;
    gap: 15px;
  }
  /* .about .parent div p.child3{
    display: block;
    width: 120px;
    position: relative;
    cursor: pointer;
  }
  .about .parent div p.child3::after{
    content: "←";
    margin-right: 3px;
    transition: .4s;
  }
  .about .parent div p.child3:hover::after{
    margin-right: 10px;
  } */
  .about .img {
    display: block;
    width: 70px;
    height: 70px;
  }
  .about .parent div .img{
    margin-top: -50px;
  }
  .linkContainer{
    display: flex;
    justify-content: flex-start;
    padding-bottom: 35px;
  }
}