.hero {
  display: flex;
  align-items: center;
  background: linear-gradient(#0e152ce4, #0e152ce4),
    url(/assets/images/hiring/pattern1.png);
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 70vh;
  margin-top: 100px;
}
.hero .mob{
  display: none;
}
.dt{
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 80%;
}
@media (max-width: 1191px) {
 
  .hero {
    justify-content: center;
    text-align: center;

  }
}
@media (max-width:800px) {
  .hero .dt{
    display: none;
  }
  .hero{
    min-height: 50vh;
    margin-top: 95px;
  }
  .mob{
    display: flex;
    flex-direction: column;
    gap: 10px;
  }
  .mob p{
    text-align: start;
    font-weight: bold;
  }
  .hero .mob{
    display: flex;
    flex-direction: column;
  }
  .hero .mob h1{
    text-align: start ;
    margin-right: 5px;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px; 
  }
  .hero .mob h2{
    text-align: start ;
    margin-right: 5px;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 37px;
  }
  .hero .mob p{
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 16.8px;
    letter-spacing: 0% !important;
  }
  .accordionQuestions h2{
    text-align: start;
    font-size: 28px !important; 
  }
}