.internshipTcmg {
  min-height: 70vh;
  background-image: url(/assets/images/internship/pattern3.png);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}
.internshipTcmg .parent {
  width: 60%;
  backdrop-filter: blur(5px);
  background-color: #dddddd33;
  padding: 100px 50px;
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.internshipTcmg form {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.internshipTcmg h3 {
  text-align: center;
}
.internshipTcmg .selectParent {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}


.internshipTcmg button {
  background: transparent;
  background: none;
  border: none;
  text-align: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  gap: 10px;
  transition-property: opacity;
  transition-property: gap;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
  cursor: pointer;
  color: #fff;
}
.internshipTcmg button:hover {
  gap: 20px;
  opacity: 80%;
}

@media (max-width: 1191px) {

  .internshipTcmg .parent {
    width: 80%;
  }
}
@media (max-width: 768px) {
  .internshipTcmg{
    min-height: 45vh;
  }
  .internshipTcmg .parent {
    width: 100%;
    gap: 10px;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}
  .internshipTcmg .parent h3 {
    font-size: 16px;
    font-weight: 700;
  }
  .internshipTcmg form div.selectParent {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
  }
}
@media (max-width: 570px) {
  .internshipTcmg .selectParent {
    flex-direction: column;
  }
}
