.hero {
    position: relative; /* Ensure the pseudo-element is positioned correctly */
    display: flex;
    flex-direction: column;
    gap: 100px;
    margin-top: 100px;
    z-index: 1; /* Keep the hero content above the background */
    min-height: 100vh;
}

.hero::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/images/homePage/hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2; /* Set the desired opacity */
    z-index: -1; /* Place it behind the content */
}
.hero .content {
    width: 70%;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    gap: 40px;
}
.container{
    display: flex;
    align-items: center;
    width: 50%;
    justify-content: space-between;
}
.animation {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.iconsChat{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.iconsChatOne{
    display: flex;
    gap: 40px;
}
.email{
    text-align: center;
}
@media (max-width : 1191px) {
    .hero .content {
        width: 100%;
        align-items: center;
        text-align: center;
    }
    
}

@media (max-width : 800px) {
    .hero {
        padding: 32px 16px !important;
        margin-top: 95px;
        justify-content: flex-start;
        gap: 10px;
    }
    .hero .content{
        text-align: right;
        gap: 10px;
    }
  
    .hero .content p {
        font-size: 16px;
    }
    .hero .animation {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .hero .animation iframe {
        width: 100px;
    }
    .container{
        width: 70%;
    }
}

