
.stats {
    background-image: url(/assets/images/homePage/باترن.svg);
    background-position: center center;
    background-size: cover;
    width: 100%;
    padding: 50px 80px !important;
    background-color: var(--font);
    color: #222;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .stats div {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    flex-basis: 300px;
  }
  
  .stats div span:first-child {
    font-family: janna bol;
    font-size: 57px;
    font-weight: 900;
  }
  
  @media (max-width: 768px) {
      .stats {
          background-image: url(/assets/images/homePage/باترن.svg);
          background-color: #1c243d;
          background-size: auto;
          background-position: center;
          padding: 80px 30px !important;
          color: #fff;
          flex-wrap: nowrap;
          flex-direction: row-reverse;
        }
    .stats div {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      text-align: center;
      flex-basis: 300px;
      border-right: 2px solid #ffffff55;
    }
    .stats div:nth-child(4){
      border-right: none;
    }
    .stats div span:first-child {
      font-size: 23px;
      font-weight: 800;
      margin-bottom: 10px;
    }
    .stats div span:last-child {
      font-family: "Janna LT";
      font-size: 16px;
      font-weight: 400;
    }
  }
  
  @media (max-width: 450px){
    .stats {
          padding: 40px 30px !important;
    }
      .stats div span:first-child {
          font-size: 14.983px;
          font-weight: 800;
        }
        .stats div span:last-child {
          font-family: "Janna LT";
          font-size: 12px;
          font-weight: 400;
        }
  }