.footer {
    background-color: var(--main);
    color: var(--font);
    width: 100%;
    padding: 80px;
    direction: rtl;
    letter-spacing: 1px;
    font-family: janna reg;
    font-size: 18px;
}

.topSection {
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.topSection a {
    padding-bottom: 10px;
    padding-left: 10px;
    border-bottom: 1px solid var(--font);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    transition: opacity 200ms;
    font-size: 20px;
    cursor: pointer;
}

.footer a:hover {
    opacity: 80%;
}

.left{
    border-left: 1px solid #fff;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-left: 50px;
}
.midSection {
 display: flex;
 justify-content: space-between;
padding-left: 50px;
 margin-top: 50px;
 
}
.centerContainer{
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    padding: 0 50px;

}
.boldLink{
    font-weight: bold;
    font-size: 25px;
}
.linkItem{
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.right{
    width: 100%;
    border-right: 1px solid #fff;
    padding-right: 50px;
    display: flex;
    flex-direction: column;
    gap: 20px;


}
.social{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.socialIcons{
    display: flex;
    gap: 10px;
}
.socialIcons span{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.centerLinks{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-bottom: 1px solid #ffffff18;
    margin-top: 40px;
padding-bottom: 20px;
}
.info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
    line-height: 150%;
}


@media (max-width : 1191px) {
    .topSection img{
        width: 30px;
        height: 30px;
    }
    .footer h2{
        font-size: 35px;
    }
    .midSection{}
}
@media (max-width : 900px) {
    .footer{
        font-size: 16px;
    }
    .footer h2{
        font-size: 25px;
    }
    .boldLink{
        font-size: 20px;
    }
    .socialIcons{
        gap: 5px;
    }
    .socialIcons span{}
}
@media (max-width : 600px) {
    .footer{
        display: none;
    }
}