.footer{
    /* display: flex; */
    /* justify-content: space-between; */
    padding: 30px;
    font-size: 14px;
    display: none;
}
.footer a:hover {
    opacity: 80%;
}
.topIcons{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.topIcons h2{
    font-size: 18px;
}
.mainLink{
    display: flex;
    gap: 10px;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 8px;
}
.linkText{
    font-size: 14px;
    font-weight: bold;
}
.bottomLinks ul{
    /* margin-top: 20px; */
    display: flex;
    flex-direction: column;
    /* gap: 15px; */
}
.boldLink{
    font-weight: bold;
    font-size: 16px;
}
.social{
    margin-top: 15px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.space {
    margin-top: 20px;
}
.socialIcons{
    display: flex;
    gap: 10px;
}
.socialIcons a{
    width: 40px;
    aspect-ratio: 1/1;
    border-radius: 50%;
    border: 1px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.links{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftLinks{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    width: 40%;
}
.centerLinks{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    border-bottom: 1px solid #ffffff18;
    margin-top: 40px;
padding-bottom: 20px;
}
.info{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    text-align: center;
    align-items: center;
}
.info p:first-child{
    line-height: 150%;
}
.info p:last-child{
    line-height: 150%;
    font-weight: bold;
}
@media (max-width : 700px) {
    .footer{
        display: block;
    }
}
@media (max-width : 500px) {
    .leftLinks{
        width: 50%;
    }
}