.sideNav {
    position: fixed;
    right: 0;
    top: 0;
    width: 100%;
    background-color: var(--main);
    color: var(--main);
    z-index: 9999;
    padding: 20px;
    overflow-y: auto; /* Add scrolling if content exceeds height */

    height: 100vh;
}
.sideNav::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url(/assets/images/homePage/sidepatternright.svg);
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.2; /* 10% opacity */
    z-index: -1; /* Send the overlay behind content */
}
.header{
    display: flex;
    justify-content: space-between;
}
 .header .right{
    display: flex;
    align-items: center;
    gap: 10px;
 }
 .sideLinks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    color: var(--font);
    padding: 20px 0;
 }
 .sideLinks span{
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    cursor: pointer;
    line-height: 1.6;
 }
 .bottom{
    color: var(--font);
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
 .login{
    font-weight: bold;
    display: flex;
    align-items: center;
    gap: 5px;


}
.reg{
    border-radius: 11px;
    border: 1px solid #ffffff6d;
    padding: 15px 30px;
    display: flex;
    flex-direction: column;
    gap: 5px;
    line-height: 1.4;
}
.reg span{
    font-weight: bold;
}
.registerLink{
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background-color: #fff;
    color: #000;
    text-align: center;
    justify-content: center;
    padding: 12px 8px;
}




.toggle{
    cursor: pointer;
}
.mainContent{
    color: var(--font);
width: 100%;
padding-top: 20px;
}

.card{
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-top: 20px;
}
.mainContent .links{
    display: flex;
    flex-direction: column;
    gap: 5px;

}
.itemLink {
    border-bottom: 1px solid #ffffff4f;
    padding-bottom: 10px;
    font-size: 24px;

}
.prLink{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ffffff4f;
    padding-bottom: 10px;
    font-size: 24px;
    cursor: pointer;
}
.practiceLinkContainer{
    display: grid;
    grid-template-columns: repeat(1,1fr);
    gap: 8px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 1s ease;
}

  
  .practiceLinkContainer.show {
    max-height: 2000px; 

  }
  

  .infoHeader{
    display: flex;
    justify-content: space-between;
  }
  .infoHeader .prev{
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;

  }
  .boldTitle{
    display: block;
    font-weight: bold;
    font-size: 24px;
  }

  @media (max-width: 600px) {
    .sideNav {
        display: block; 
    }
}

@media (min-width: 601px) {
    .sideNav {
        display: none; 
    }
}
