.lawyerCard {
    display: flex;
    /* align-items: center; */
    gap: 40px;
    border-radius: 19px;
    border: 1px solid rgba(157, 157, 157, 0.10);
    background: #111A35;
    
    height: 169px;
    
  }

  
   .cardContent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 2px;
    align-items: center;
    text-align: center;
  }
  
  .lawyerPhone,
  .lawyerEmail,
  .lawyerDownloadCv {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #fff;
    font-size: 14px;
  }
  
  .lawyerName {
    font-size: 16px;
    font-weight: bold;
  }
  .lawyerCategory {
    font-size: 14px;
    color: gray;
  }


  
  @media (max-width: 450px) {
    /* .lawyerCard {
     flex-direction: column;
     height: auto;
     align-items: center;
     gap: 10px;
     padding: 10px;
    } */
    
  }