/*---------------------------------------------------------------------------------*/

.locations h2 {
  text-align: center;
}

.egyLocations .parent {
  padding-top: 50px;
}

.egyLocations .parent {
  display: flex;
  width: 80%;
  margin: auto;
}

.parentLocations {
  background: linear-gradient(#1b2340, #0e152c);
  border: 1px solid #ffffff74;
  border-left: none;
  border-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 80px 80px 0;
  padding: 0 20px;
  height: 475px;
  width: 100%;
}








.contactInformation {
  background-image: url("/assets/images/branches/pattern2.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}

.contactInformation h2 {
  text-align: start;
}

.contactInformation p {
  padding: 50px 0;
  font-size: 24px;
}

/*---------------------------------------------------------------------------------*/
.contactNumbers h2 {
  text-align: center;
}

.contactNumbers .parentLocations {
  height: 475px;
}

.contactNumbers .egyLocations {
  width: 70%;
  margin: auto;
}

.contactNumbers .locationInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5px;
  text-align: center;
  padding: 20px 0;
}

.locationInfo:not(:last-child) {
  border-bottom: 3px dashed rgba(128, 128, 128, 0.6);
}
.br{
  display: none;
}

/*---------------------------------------------------------------------------------*/


@media (max-width: 1191px) {

  .egyLocations .parent {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .locations .parentLocations {
    border-radius: 80px;
  }

  .locations .cardImg img {
    display: flex;
    margin: auto;
  }

  .contactNumbers .parentLocations {
    width: 70%;
    margin: auto;
    border-radius: 50px;
  }

  .contactNumbers .cardImg {
    width: 80%;
    margin: auto;
  }

  .contactInformation p {
    font-size: 18px;
    text-align: center;
  }

  .contactInformation {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }


}

@media (max-width: 800px) {
  .overlay{
    display: none;
  }
  .contactInformation{
    background-image: none;
  }
  .contactInformation .content h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 44.8px;
    text-align: start ;
  }
  .contactInformation p{
    padding: 10px 0 !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 19.6px;
    text-align: start;
  }
 .br{
  display: block;
 }
 .contactNumbers .egyLocations h2{
  display: none;
 }
 .contactNumbers .egyLocations{
  width: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  padding-top: 400px;
  margin-top: 50px;
  padding-bottom: 50px;
 }
 .contactNumbers .egyLocations .parent{
  margin: 0;
  width: 100% ;
}
.contactNumbers .egyLocations .parent .parentLocations{
  width: 100%;
  border-radius: 50px 50px 0 0  !important;
  z-index: 9999;
}
.contactNumbers .egyLocations .parent .cardImg{
  width: 478.026px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
  opacity: 70%;
}
.contactNumbers .egyLocations .parent .cardImg :nth-child(1) {
  width: 100%;
  height: 100%;
}
}
@media (max-width:400px) {
  .contactNumbers .egyLocations{
    padding-top: 200px;
  }
  .contactNumbers .egyLocations .parent .cardImg{
    width: 219.049px;
    height: 266.725px;
  }
}