.locations {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.hhh{
  display: block;
}
.mob{
  display:none;
}
.locations h2 {
  text-align: center;
}
.egyLocations .parent,
.saudiaLocation .parent,
.dubaiLocation .parent,
.chinaLocation .parent , .palestineLocation .parent,.ammanLocation .parent {
  padding-top: 50px;
}

.egyLocations .parent {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: space-between;
}
.egyLocations .parentLocations{
  width: 100%;
}
.parentLocations {
  background: linear-gradient(#1b2340, #0e152c);
  border: 1px solid #ffffff74;
  border-left: none;
  border-right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: 0 80px 80px 0;
  padding: 0 20px;
  height: 642px;
}


.locationOne {
  border-bottom: 3px dashed rgba(128, 128, 128, 0.6);
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-bottom: 40px;
}
.locationTwo {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 40px;
}
.locationLink{
  display: flex;
  align-items: center;
  gap: 5px;
  justify-content: center;
}


.locations p , .location a,
.locations span {
  font-size: 16px;
}
.saudiaLocation .parentLocations,
.chinaLocation .parentLocations , .ammanLocation .parentLocations {
  height: 305px;
  border-radius: 80px 0 0 80px;
}
.dubaiLocation .parentLocations , .chinaLocation .palestineLocation{
  height: 475px;
  border-radius: 80px 0 0 80px;
 width: 100%;;

}
.palestineLocation .parentLocations {
  height: 275px;
  width: 100%;
  border-radius: 80px 0 0 80px;

}
.saudiaLocation .parent,
.dubaiLocation .parent,
.chinaLocation .parent , .palestineLocation .parent ,
.ammanLocation .parent {
  display: flex;
  width: 80%;
  margin: auto;
  justify-content: center;
}
.location {
  display: flex;
  flex-direction: column;
  gap: 5px;
  text-align: center;
  width: 100%;
}
  .saudiaLocation .parentLocations,  .palestineLocation , .ammanLocation .parentLocations {
  border-radius: 0 80px 80px 0;
  width: 100%;
}


@media (max-width: 1191px) {
  .egyLocations .parent,
.chinaLocation .parent,
.dubaiLocation .parent,
.saudiaLocation .parent,.palestineLocation .parent , .ammanLocation .parent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.locations .parentLocations{
  border-radius: 80px;
}
.locations .cardImg img{
  display: flex;
margin: auto;
}
.parentLocations , .dubaiLocation .parentLocations{
  padding: 15px;
  height: auto;
}
.locationOne{
  padding-bottom: 12px;
}
.locationTwo{
  padding-top: 12px;
}
}

@media (max-width: 800px) {
 .hhh{
  display: none;
}
.locations{
  padding-bottom: 100px !important;
}
.mob{
  display: block;
  font-size: 24.852px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-bottom:14.201px;
  text-align: center !important;
}
.locationOne h3{
  font-size: 14.201px;
  font-style: normal;
  font-weight: 700;
  line-height: 145%;
}
.locations .parentLocations{
  border-radius: 60px 60px 0 0;
  position: relative;
  z-index: 99999999;
}
.egyLocations{
  position: relative;
  padding-top: 400px;
  margin-top: 50px;
}
.egyLocations .parent{
  margin: 0;
  width: 100%;

}
.egyLocations .parent .cardImg{
  width: 478.026px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px 20px 0 0;
  overflow: hidden;
  opacity: 70%;
}
.egyLocations .parent .cardImg :nth-child(1) {
  width: 100%;
  height: 100%;
}
.dubaiLocation{
  position: relative;
  padding-top: 400px;
  margin-top: 50px;
}
.dubaiLocation .parent{
  margin: 0;
  width: 100%;
}
.dubaiLocation .parent .cardImg{
  width: 478.026px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
  opacity: 70%;
}
.dubaiLocation .parent .cardImg :nth-child(1) {
  width: 100%;
  height: 100%;
}
.saudiaLocation{
  position: relative;
  padding-top: 400px;
  margin-top: 50px;
}
.saudiaLocation .parent{
  margin: 0;
  width: 100%;
}
.saudiaLocation .parent .cardImg{
  width: 478.026px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
  opacity: 70%;
}
.saudiaLocation .parent .cardImg :nth-child(1) {
  width: 100%;
  height: 100%;
}
.chinaLocation{
  position: relative;
  padding-top: 400px;
  margin-top: 50px;
}
.chinaLocation .parent{
  margin: 0;
  width: 100%;
}
.chinaLocation .parent .cardImg{
  width: 478.026px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  border-radius: 20px;
  overflow: hidden;
  opacity: 70%;
}
.chinaLocation .parent .cardImg :nth-child(1) {
  width: 100%;
  height: 100%;
}
.ammanLocation{
  position: relative;
  padding-top: 400px;
  margin-top: 50px;
}
.ammanLocation .parent{
  margin: 0;
  width: 100%;
}
.ammanLocation .parent .cardImg{
  width: 478.026px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
  opacity: 70%;
}
.ammanLocation .parent .cardImg :nth-child(1) {
  width: 100%;
  height: 100%;
}
.palestineLocation{
  position: relative;
  padding-top: 400px;
  margin-top: 50px;
}
.palestineLocation .parent{
  margin: 0;
  width: 100%;
}
.palestineLocation .parent .cardImg{
  width: 478.026px;
  height: 500px;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  border-radius: 20px;
  overflow: hidden;
  opacity: 70%;
}
.palestineLocation .parent .cardImg :nth-child(1) {
  width: 100%;
  height: 100%;
}
.chinaLocation .parentLocations{
  height: auto;
}

 
}
@media (max-width:400px) {
  .egyLocations{
    padding-top: 200px;
  }
  .egyLocations .parent .cardImg{
    width: 219.049px;
    height: 266.725px;
  }
  .dubaiLocation{
    padding-top: 200px;
  }
  .dubaiLocation .parent .cardImg{
    width: 219.049px;
    height: 266.725px;
  }
  .saudiaLocation{
    padding-top: 200px;
  }
  .saudiaLocation .parent .cardImg{
    width: 219.049px;
    height: 266.725px;
  }
  .chinaLocation{
    padding-top: 200px;
  }
  .chinaLocation .parent .cardImg{
    width: 219.049px;
    height: 266.725px;
  }
  .ammanLocation{
    padding-top: 200px;
  }
  .ammanLocation .parent .cardImg{
    width: 219.049px;
    height: 266.725px;
  }
  .palestineLocation{
    padding-top: 200px;
  }
  .palestineLocation .parent .cardImg{
    width: 219.049px;
    height: 266.725px;
  }
}
