.branches {
  width: 100%;
  padding: 0px !important;
}

.branches .branche {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.branches .branche::before {
  content: "";
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
  background-color: #0000004b;
}

.branches .branche span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 100px;
  z-index: 999;
  font-family: janna bol;
}

.branches .branche img:first-child {
  width: 100%;
}

.branches .link {
  position: absolute;
  left: 50%;
  top: 30%;
  transform: translateX(-50%);
  bottom: 0;
  padding: 10px 20px;
}

.branches .link:hover {
  opacity: 100%;
} 

/* ============================================================================ */
.partners {
  width: 100%;
  color: #333;
  text-align: center;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 10px 20px !important;
}

.partner .logo {
  width: 300px; 
  height: 120px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.partners .partner {
  display: flex;
  justify-content: center;
  align-items: baseline;
}

@media (max-width: 800px){
  .branches .branche span {
      font-size: 70.067px;
  }
  .branches .link {
      bottom: 0;
      padding: 10px 40px;
  }
  .branches .link {
    bottom: 0;
    padding: 10px 7px;
}
  .branches .link p{
    font-size: 14px;
}
}

@media (max-width: 450px){
  .partners .logo {
    padding-left: 50px !important;
  } 
  .branches .branche span {
      font-size: 40.067px;
  }
  .branches .link {
      bottom: 0;
      padding: 10px 7px;
  }
}