.modalPrivacy{
    position: fixed;
    top: 50%;
    left: 50%;
transform: translate(-50%, -50%);
    width: 80%;
    /* height: 90%; */
    background-color: #fff;
    z-index: 9999;
    color: #000;
    text-align: center;
    border-radius: 32px;
    font-size: 16px;
    line-height: 1.8rem;
    padding: 20px;
}
.modalPrivacy p{
    color: gray;
}
.modalPrivacy div{
  text-align: start;

}
.modalPrivacy ol{
    list-style-position: inside;
    text-align: start;
}
@media (max-width: 1191px) {
    .modalPrivacy{
        width: 90%;
        font-size: 14px;
        line-height: 1.5rem;
        height: 80%;
        overflow-y: scroll;
    }
}

@media (max-width: 768px) {
    .modalPrivacy{
        width: 100%;
    }
}