.joinPage section {
  padding: 80px;
}
@media (max-width: 1191px) {
  .joinPage h1,
  .joinPage h2 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {

  .joinPage h1,
  .joinPage h2 {
    text-align: right;
  }

  .joinPage h2 {
    /* font-size: 32px; */
  }

  .joinPage p {
    font-size: 16px;
    text-align: right;
  }
  .joinPage section {
    padding: 20px;
  }
  
}
@media (max-width: 400px) {

  .joinPage h1,
  .joinPage h2 {
    text-align: right;
  }

  .joinPage h2 , .joinPage h1 {
    font-size: 24px;
  }

  .joinPage p {
    font-size: 16px;
    text-align: right;
  }
  .joinPage section {
    padding: 20px;
  }
  
}

