.joinPage section {
  padding: 80px;
}
@media (max-width: 1191px) {
  .joinPage h1,
  .joinPage h2 {
    font-size: 35px;
  }
}

@media (max-width: 768px) {

  .joinPage h1,
  .joinPage h2 {
    text-align: right;
  }

  .joinPage h2 {
    font-size: 30px;
  }

  .joinPage p {
    font-size: 14px;
    font-weight: 400;
    text-align: right;
  }
  .joinPage section {
    padding: 20px;
  }
  
}

