.aspirations {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #1b2340;
  gap: 20px;
}
.aspirations ul{
  list-style-type: disc !important;
  list-style-position: inside;
  padding-top: 20px;
}
.aspirations p {
  width: 80%;
}
@media (max-width: 1191px) {
  .aspirations {
    align-items: center;
  }
  .aspirations p {
    width: 100%;
    font-size: 16px;
  }
  .aspirations ul li{
    font-size: 16px;
  }
}
@media (max-width: 768px) {
  .aspirations p,
  .aspirations h2 {
    width: 100%;
    text-align: right;
  }
}








