.graduationForm h2 {
  text-align: center;
}
.graduationForm .formPage {
  border-radius: 32px;
  width: 80%;
  margin: auto;
  background: linear-gradient(rgba(255, 255, 255,.03) 0%, rgba(216, 216, 216, .03));
  border: 1px solid #ffffff28;
  padding: 80px;
}
.graduationForm .names {
  display: flex;
  gap: 20px;
}
.graduationForm .inp {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding: 10px;
  gap: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
  background: linear-gradient(rgba(255, 255, 255,.03) 0%, rgba(216, 216, 216, .03));
  border: 1px solid #fff;
 
}
.inp span{
font-size: 20px;
}

.graduationForm .formPage textarea {
  width: 100%;
  resize:none;
  background-color: transparent;
  outline: none;
  border: none;
  color: #fff;
  font-size: 18px;
}

.graduationForm .emailContact {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.graduationForm .emailContact p {
  width: 30%;
  text-align: center;
  margin-top: 30px;
}

.file {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #fff;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  margin-top: 30px;
}
.file .right {
  display: flex;
  flex-direction: column;
  gap: 5px;
  font-size: 14px;
  color: #ffffffab;
}
.fileInput {
  opacity: 0; 
  position: absolute; 
  width: 100%; 
  height: 100%; 
  cursor: pointer;
}
.fileLabel Image {
  vertical-align: middle;
}
.formPage input:placeholder-shown,
.formPage form h3,
.formPage textarea:placeholder-shown{
  font-size: 18px;
}

@media (max-width: 768px) {
  .graduationForm .formPage {
    width: 100%;
    padding: 20px;
  }
  /* .formPage input:placeholder-shown,
  .formPage form h3,
  .formPage textarea:placeholder-shown{
    font-size: 18px;
  } */
  .graduationForm .names {
    display: flex;
    flex-direction: column;
    gap: 0px;
  }
  .graduationForm .emailContact {
    padding: 20px 0;
  }
  .graduationForm .emailContact p {
    width: 100%;
    font-size: 24px;
  }
  .graduationForm .names{
    flex-direction: column;
    gap: 0;
  }
}