.container{
    display: flex;
    flex-direction: column;
    gap: 40px;
}
.container ul{
    list-style-type: disc !important;
    list-style-position: inside;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container .title{
    display: block;
    font-size: 35px;
    font-weight: bold;
}
.container a {
    text-decoration: underline;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    display: none;
}
@media (max-width: 900px) {
    .container{
        gap: 10px;
    }
    .container ul{
        gap: 0px;
    }
    .container .title{
        display: block;
        font-size: 16px;
        font-weight: 700;
        width: 100%;
        /* position: relative; */
    }
    /* .container .title::after{
        content: "↖";
        position: absolute;
        left: 0;
        top: 0;
    } */
    .container ul li,
    .container p {
        font-size: 12px;
        font-weight: 400;
        padding: 0 10px;
        border-right: none;
    }
    /* .container ul li::after {
        content: none;
    } */

    .header img{
        display: block;
    }
}