.hero{
    min-height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/images/cookies/Hero.svg);
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 100px;
}
.hero h1{
    text-align: center;
}
@media (max-width: 800px) {
    .hero{
        margin-top: 80px;
    }
}
@media (max-width: 768px) {
    .hero{
        min-height: 60vh;
    }
}