.privacyStatement{
    background-image: url(/assets/images/privacypolicy/pattern.svg);
    background-size: cover;
    background-repeat: no-repeat;

}
.privacyStatement div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;

}

@media (max-width: 1191px) {
    .privacyStatement div{
        align-items: center;
    }
    .privacyStatement h2{
        text-align: center;
    }
    .privacyStatement p{
        font-size: 16px;
        text-align: center;
    }
}

@media (max-width: 768px) {
    .privacyStatement div{
        align-items: center;
        gap: 20px;
    }
    .privacyStatement div h2{
        width: 100%;
        text-align: right;
        font-size: 28px;
    }
    .privacyStatement p{
        font-size: 16px;
        text-align: right;
    }
}

